<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      
	  <li class="nav-item">
        {%if user.is_authenticated%}
			<a class="nav-link" href="{%url 'cities:logout'%}">Logout ({{user.username}})</span></a>
		{%else%}
			<a class="nav-link" href="{%url 'cities:login'%}">Login</span></a>
		{%endif%}
      </li>
	  <li class="nav-item">
		<a class="nav-link" href="{%url 'cities:readme'%}">README.md</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'cities:cities-list'%}">Cities</span></a>
      </li>
		{%if user.is_authenticated%}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'cities:subscriptions-list'%}">Subscriptions</span></a>
          </li>
		{%endif%}
    </ul>
  </div>
	<div class='row'>
		{% if messages %}
		    {% for message in messages %}
		    	<div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
		    {% endfor %}
		{% endif %}
	</div>
</nav>